---
import "../../assets/css/reset.css";
import "../../assets/css/global.css";
import i18next, { changeLanguage } from "i18next";
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import Footer from "../../components/Footer.astro";

changeLanguage("en");
---

<html lang={i18next.language}>
	<Head />
	<body>
		<Header />
		<Hero />
		<Footer />
	</body>
</html>