---
//astro-i18next
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs, LanguageSelector } from "astro-i18next/components";

changeLanguage("en");
---

<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("site.title")}</title>
		<meta name="description" content={t("site.description")} />
    <HeadHrefLangs />
	</head>
	<body>
		<LanguageSelector showFlag={true} class="my-select-class" />
		<h1>{t("home.title")}</h1>
    <p>
      <Trans i18nKey="home.subtitle">
        This is a <em>more complex</em> string to translate, mixed with <strong
          >html elements
        </strong> such as <a href="https://example.com/">a cool link</a>!
      </Trans>
    </p>
	</body>
</html>
