:root {
  --container: 80rem;
  --gutter: 1.5rem;
  --gutter-l: 3rem;
  /* --mobile: 375px;
  --tablet: 768px;
  --desktop: 1024px;
  Example >= 768, < 769
  */
}
body {
  overflow: hidden;
  padding: var(--gutter) clamp(1rem, 5%, 3rem);
}
ul[role="menu"] {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Utilities */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gutter);
}
@media (width > 768px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}