---
import "../assets/css/reset.css";
import "../assets/css/global.css";

import i18next, { changeLanguage } from "i18next";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import DailyMenu from "../components/DailyMenu.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";

changeLanguage("cs");
---

<html lang={i18next.language}>
	<Head />
	<body>
		<Header />
		<Hero />
		<About />
		<Menu />
		<!-- <DailyMenu /> -->
		<Footer />
		<script src="../assets/js/global.js"></script>
	</body>
</html>