---
import "../assets/css/reset.css";
import "../assets/css/global.css";

import i18next, { t, changeLanguage } from "i18next";
import { Trans, LanguageSelector } from "astro-i18next/components";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import DailyMenu from "../components/DailyMenu.astro";

changeLanguage("cs");
---

<html lang={i18next.language}>
	<Head />
	<body>
		<Header />
		<Hero />
		<LanguageSelector showFlag={true} />
		<Footer />
	</body>
</html>