---
import "../assets/css/reset.css";
import "../assets/css/global.css";

import i18next, { changeLanguage } from "i18next";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import HeroVideo from "../components/HeroVideo.astro";
import About from "../components/About.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Review from "../components/Review.astro";

changeLanguage("cs");
---

<html lang={i18next.language}>
	<Head />
	<body>
		<Header />
		<HeroVideo />
		<About />
		<Menu />
		<Review />
		<Footer />
		<script> 
			import "../assets/js/global.js"
		</script>
	</body>
</html>