---
import img1 from "../assets/img/hero/invitaly_vezenska_20.jpg"
import img2 from "../assets/img/hero/invitaly_vezenska_16.jpg"
---

<section class="grid" id="about">
  <h2>Bringing the best traditions</h2>
  <div>
    <p>Illo voluptatibus laboriosam qui totam quasi velit assumenda sint mollitia dolore odio quidem, ut repudiandae cumque. Ipsum laudantium quia adipisci fugit ex praesentium nihil eveniet? Esse doloremque animi in facere.</p>
    <p>Cum facere tempora dolor nam! Dicta non suscipit cumque rerum maiores ipsa accusantium esse error, soluta pariatur cum repudiandae at magni ducimus aliquam temporibus repellendus minima ex fugit, neque tempora.</p>
  </div>
  <img class="img1" src={img1} alt="Invitaly">
  <img class="img2" src={img2} alt="Invitaly">
</section>

<style>
    h2, div, .img1, .img2 {
      grid-column: span 12;
  }

  @media (width >= 1024px) {
    h2 {
      grid-column: 2 / 10;
    }
    div {
      grid-column: 2 / 6;
      grid-row: 2 / 3;
    }
    .img1 {
      grid-column: 6 / 12;
      grid-row: 2 / 4;
      aspect-ratio: 3 / 4;
      object-fit: cover;
    }
    .img2 {
      grid-column: 2 / 6;
      grid-row: 3 / 4;
      object-fit: cover;
      height: 100%;
    }
  }

</style>