<section class="container --centered">
	<h2>Daily menu</h2>
	<ul id="daily-menu"></ul>
</section>

<style>
@media (width >= 768px) {
		#daily-menu {
			max-width: 60rem;
		}
	}
</style>

<style is:inline>
	
	#daily-menu li {
		display:flex;
		justify-content: space-between;
		gap: 0 var(--gutter);
		padding: 0.7rem 0;
	}
	.price {
		font-weight: bold;
		min-width: 60px;
	}
	.price::after {
		content: ',-';
		font-size: 0.8rem;
	}
</style>

<script>

	const ul = document.querySelector('#daily-menu');
	let dailyMenu = "https://opensheet.elk.sh/1XW32FBLBLWsKdcg6fK6C0PB5-kNJXbGytTWnSNNaSmA/Czech"
	if (document.documentElement.lang === "en") {
		dailyMenu = "https://opensheet.elk.sh/1XW32FBLBLWsKdcg6fK6C0PB5-kNJXbGytTWnSNNaSmA/English"
	}

	await fetch(dailyMenu)
		.then ((res) => res.json())
		.then((data) => {
			data.map(item => {
				let li = document.createElement("li");
				let spanName = document.createElement("span");
				let spanPrice = document.createElement("span");
				let name = document.createTextNode(item.name);
				let price = document.createTextNode(item.price);
				spanName.append(name);
				spanPrice.append(price);
				spanPrice.classList.add("price");
				li.append(spanName, spanPrice);
				ul.appendChild(li);
			})
		})

</script>