<section class="container">
	<h3 id="daily-menu-header">Daily menu</h3>
	<i>12:00 - 15:00</i>
	<ul id="daily-menu"></ul>
</section>

<style>

	h3 {
		font-size: clamp(2rem, 4vw, 3rem);
	}

	@media (width >= 768px) {
		section {
			text-align: center;
		}
		#daily-menu {
			margin: 0 auto;
		}
	}

</style>

<style is:inline>
	
	#daily-menu li {
		display:flex;
		justify-content: space-between;
		gap: 0 var(--gutter);
		padding: 0.7rem 0;
		line-height: 1.5;
		border-block: 1px solid transparent;
	}
	#daily-menu li:hover {
		background-color: hsl(0 0% 99% / 50%);
		border-block: 1px solid hsl(0 0% 95%);
	}
	@media (width >= 768px) {

		#daily-menu li {
			padding-left: 0.7rem;
		}
	}
	.price {
		font-weight: bold;
		min-width: 60px;
	}
	.price::after {
		content: ',-';
		font-size: 0.8rem;
	}
	@media (width < 769px) {

		.price {
			text-align: end;
		}
	}
</style>

<script>

	const header = document.querySelector('#daily-menu-header');
	const ul = document.querySelector('#daily-menu');
	let dailyMenu = "https://opensheet.elk.sh/1XW32FBLBLWsKdcg6fK6C0PB5-kNJXbGytTWnSNNaSmA/Czech"
	if (document.documentElement.lang === "en") {
		dailyMenu = "https://opensheet.elk.sh/1XW32FBLBLWsKdcg6fK6C0PB5-kNJXbGytTWnSNNaSmA/English"
	}

	async function getMenu() {
    try {
        let res = await fetch(dailyMenu);
        return await res.json();
    } catch (error) {
        console.log('yo, not fetching here', error);
    }
	}

	async function renderMenu() {
    let menu = await getMenu();
		menu.map(item => {
			const li = document.createElement("li");
			const spanName = document.createElement("span");
			const spanPrice = document.createElement("span");
			const name = document.createTextNode(item.name);
			const price = document.createTextNode(item.price);
			spanName.append(name);
			spanPrice.append(price);
			spanPrice.classList.add("price");
			li.append(spanName, spanPrice);
			ul.appendChild(li);
		});
		const spanDate = document.createElement("span");
		const date = document.createTextNode(menu[0].date);
		spanDate.append(date);
		spanDate.classList.add("date");
		header.after(spanDate);
	}

	renderMenu();

</script>