---
import Reservation from "./snippets/Reservation.astro";
import Address from "./snippets/Address.astro";
import Pizzeria from "./snippets/Pizzeria.astro";

---

<footer id="footer">
  <div class="grid container">
    <Reservation visible />
    <Address instagram />
    <Pizzeria />
  </div>
</footer>

<style>

  footer {
    background-color: var(--c-grey-light);
    border-top: 1px solid #eee;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr)); /*if using grid*/
  }
  
</style>