---
import { t } from "i18next";
import TopNav from "./snippets/TopNav.astro";

import Logo from "./snippets/Logo.astro";
import MobileMenu from "./snippets/Mobile-menu.astro";

const { pathname } = Astro.url;

---

<header>
  <div class="container">
    <nav class="desktop-menu">
      <TopNav />
    </nav>
    <a href={pathname}>
      <Logo />
    </a>
    <MobileMenu />
  </div>
</header>

<style>

  header {
    position: fixed;
    top: 0;
    left: 0; right: 0; /* centering fixed position */
    width: 100%;
    background-color: white;
    transition: transform 0.3s var(--easing);

    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: padding 0.3s ease-in;
    }
  }
  nav.desktop-menu {
    flex: 1; /* places logo in the middle */
  }
    @media (width < 769px) {

      header .container {
        padding-block: 0.5rem;
      }
      nav.desktop-menu {
        display: none;
      }
    } 
  header {
    z-index: 1;
  }
  
</style>

<script>

  // Sticky header
  const header = document.querySelector('header');
  const headerContainer = document.querySelector<HTMLElement>('header > .container');

  window.onscroll = function() {

    if (this.oldScroll > this.scrollY || document.body.className === "mobile-menu--open" ) {
      header.style.transform = null;
    }
    else {
      header.style.transform = 'translateY(-150px)'
    }
    this.oldScroll = this.scrollY;
    
    // change the container padding
    if ( window.scrollY > 500 && window.innerWidth >= 768 && !(document.body.className === "mobile-menu--open") ) {
      headerContainer.style.paddingBlock = 'var(--gutter)';
    }
    else {
      headerContainer.style.paddingBlock = null;
    }
  }

</script>