---
import { t } from "i18next";
import TopNav from "./snippets/TopNav.astro";
import LanguageSelector from "./snippets/LanguageSelector.astro";

const { pathname } = Astro.url;

import logo from '../assets/img/branding/invitaly_logo--small.svg'
---

<header class="container">
  <nav class="desktop-menu">
    <TopNav />
  </nav>
  <a class="logo" href={pathname}>
    <img src={logo} alt="Invitaly logo" width="100" height="54">
  </a>
  <div class="overlay"></div>
  <nav class="mobile-menu">
    <section class="menu-container">
      <TopNav />
      <p>Iste et, velit explicabo nam incidunt porro nobis autem voluptates repellendus error quaerat asperiores, in ratione perspiciatis. Deleniti maxime repudiandae ipsam totam est enim aut, amet animi laboriosam eos eaque. Quod cumque dolores aperiam enim maxime doloribus magnam labore. Totam delectus tempora, accusamus veritatis repudiandae ex quo. Esse necessitatibus voluptatem repudiandae nihil quibusdam obcaecati, soluta aperiam ipsa. Tempore esse optio aliquam sint debitis? Sequi?</p>
    </section>
    <!-- <a href="#" class="order">{t("header.order")}</a> -->
    <LanguageSelector />
    <div class="burger">Menu</div>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav.desktop-menu {
    flex: 1; /* places logo in the middle */
  }
    @media (width < 769px) {
    nav.desktop-menu {
      display: none;
    }
  } 
  .overlay, .mobile-menu, .burger {
    z-index: 1;
  }
  nav.mobile-menu {
    display: flex;
    gap: var(--gutter);
    flex: 1; /* places logo in the middle */
    justify-content: flex-end;
  }
  section.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: min(100vw, 500px);
    padding: var(--gutter-l);
    background-color: salmon;
    transform: translateX(100%);
    translate: 100%;

    &.--is-visible {
      transform: translateX(0);
      translate: 0;
    }
  }
  div.overlay {
      opacity: 0;
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
      transform: translateX(100%);
      translate: 100%;

    &.--is-visible {
      opacity: 1;
      transform: translateX(0);
      translate: 0;
    }
  }
</style>

<script>
  const menuElements = document.querySelectorAll('.burger, .overlay, .menu-container a');
  const overlay = document.querySelectorAll('.overlay, .menu-container');

  menuElements.forEach(item => {
    item.addEventListener('click', () => {
      for (const el of overlay) {
        el.classList.toggle('--is-visible');
      }
    })
  })
</script>