---
import { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import TagManager from "./snippets/TagManager.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

import appleTouchIcon from '../assets/img/favicon/apple-touch-icon.png?url';
import favicon32 from '../assets/img/favicon/favicon-32x32.png?url';
import favicon16 from '../assets/img/favicon/favicon-16x16.png?url';
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon}>
  <link rel="icon" type="image/png" sizes="32x32" href={favicon32}>
  <link rel="icon" type="image/png" sizes="16x16" href={favicon16}>
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{t("site.title")}</title>
  <meta name="description" content={t("site.description")} />
  <meta name="robots" content="index, follow" />
  <HeadHrefLangs />
  <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"></GoogleFontsOptimizer>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
    as="style"
    onload="this.onload=null;this.removeAttribute('media');"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
      type="text/css"
    />
  </noscript> -->
  <TagManager />
</head>