---
import { t } from "i18next";
import TopNav from "./snippets/TopNav.astro";

import Logo from "./snippets/Logo.astro";
import MobileNav from "./snippets/MobileNav.astro";

const { pathname } = Astro.url;

---
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P5SR4D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
  <div class="container">
    <nav class="desktop-nav">
      <TopNav />
    </nav>
    <a href={pathname}>
      <Logo />
    </a>
    <MobileNav />
  </div>
</header>

<style>

  header {
    position: fixed;
    top: 0;
    left: 0; right: 0; /* centering fixed position */
    width: 100%;
    background-color: white;
    transition: transform 0.3s var(--easing);

    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: padding 0.3s ease-in;
    }
  }
  nav.desktop-nav {
    flex: 1; /* places logo in the middle */
  }
    @media (width < 1200px) {
      nav.desktop-nav {
        display: none;
      }
    } 
    @media (width < 769px) {
      header .container {
        padding-block: 0.5rem;
      }
    }

  header {
    z-index: 1;
  }
  
</style>

<script>

  // Sticky header
  const header = document.querySelector('header');
  const headerContainer = document.querySelector<HTMLElement>('header > .container');

  window.onscroll = function() {

    if ( this.oldScroll > this.scrollY || this.scrollY < 50 || document.body.className === "mobile-nav--open" ) {
      header.style.transform = null;
    }
    else {
      header.style.transform = 'translateY(-150px)'
    }
    this.oldScroll = this.scrollY;
    
    // change the container padding
    if ( window.scrollY > 500 && window.innerWidth >= 768 && !(document.body.className === "mobile-nav--open") ) {
      headerContainer.style.paddingBlock = 'var(--gutter)';
    }
    else {
      headerContainer.style.paddingBlock = null;
    }
  }

</script>