---
import { t } from "i18next";

---

<section>
  <h1 class="fadeUp observe">{t("hero.header")}</h1>
  <div class="video-wrapper">
    <video autoplay muted playsinline loop>
      <source
        src="https://res.cloudinary.com/de8fnhgss/video/upload/c_scale,vc_auto,w_1920/v1676496850/Invitaly/invitaly_rvsk6p.mp4"
        type="video/mp4" />
    </video>
  </div>
</section>

<style>

  section {
    padding-top: max(5rem, 7vw);
  }

  h1 {
    font-size: clamp(2rem, 4vw, 5rem);
    text-align: center;
    max-width: 50rem;
    padding: var(--gutter-l);
    margin: var(--gutter) auto var(--gutter-l);
  }
  
  @media (width < 769px) {
    h1 {
      margin: 0 auto var(--gutter);
    }
  }

  .video-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  video {
    width: 100%;
  }
  @media (width < 500px) {
    video {
      width: 65rem;
    }
  }
</style>