---
import { t } from "i18next";

// Get random hero image
import RandomImage from '../components/islands/RandomImage';
const allImgs = await Astro.glob('../assets/img/hero/*.jpg');
const images = allImgs.map(img =>(img.default));

interface Props {
  alt?: string;
  width?: string;
  height?: string;
  className?: string;
}
const {
  alt = "Invitaly EnoTrattoria",
  width = "1500",
  height = "800",
  } = Astro.props;
---

<section class="hero grid">
  <div>
    <RandomImage client:load images={images} className width={width} height={height} alt={alt} />
  </div>
  <div class="header">
    <h1>{t("hero.h1")}</h1>
    <p>{t("hero.p")}</p>
  </div>
</section>

<style>
  .hero {
    padding-block: var(--gutter);
  }
  div:has(img) {
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    position: relative;
    /* animations */
    animation-duration: 1.6s;
    animation-timing-function: var(--easing);
    animation-delay: 0s;
    animation-name: heroClip;
    
    &::after {
      content:'';
      position:absolute;
      left:0; top:0;
      width:100%; height:100%;
      display:block;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
    }
  }
  img {
    object-fit: cover;
  }
  .header {
    grid-column: 3 / 11;
    grid-row: 2 / 3;
    width: 100%;
    padding: var(--gutter);
    text-align: center;
    color: white;
  }
  h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: var(--gutter);
    /* animations */
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-timing-function: var(--easing);
    animation-delay: 1s;
    animation-name: heroHeader;
  }
  p {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-timing-function: var(--easing);
    animation-delay: 1.1s;
    animation-name: heroHeader;
  }
  
  @media (width < 1025px) {
    img {
      max-height: 50vh;
    }
    .header {
      grid-column: 1 / 13;
      grid-row: 2 / 3;
    }
  }
  @media (width < 769px) {
    p {
      display: none;
    }
  }
  @keyframes heroClip {
    0% {
      clip-path: inset(0 100% 0 100%);
    }
    100% {
      clip-path: inset(0);
    }
  }
  @keyframes heroHeader {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  </style>

  <!-- <script src="src/assets/js/loco.js" type="module"/> -->