---
import { t } from "i18next";
import { Picture } from '@astrojs/image/components';

import img2 from "@assets/img/body/INV2-217_065.jpg"
import img3 from "@assets/img/body/INV2-217_051.jpg"
import Arrow from "./snippets/Arrow.astro";
import DailyMenu from "./DailyMenuV1.astro";

interface Props {
  menuUrl?: string;
}
const { menuUrl = "https://invitaly.cz/files/menu_enotrattoria.pdf" } = Astro.props;
---

<section class="container" id="menu">
  <a href={menuUrl} target="_blank" data-event="menuDownload">
    <div>
      <h2>{t("menu.header")}</h2>
      <p>{t("menu.p")}</p>
    </div>
    <Arrow buttonText={t("menu.buttonText")} />
  </a>
  <div class="gallery">
    <div class="zoom observe">
      <Picture src={img2} widths={[400, 1000]} sizes="(max-width: 769px) 100vw, 984px" alt="Invitaly" />
    </div>
    <div class="zoom observe">
      <Picture src={img3} widths={[400, 700]} sizes="(max-width: 769px) 100vw, 400px" alt="Invitaly" />
    </div>
  </div>
</section>
<DailyMenu />

<style>

  a {
    border-block: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter-l);
    padding: var(--gutter-l);

    & h2 {
      transition: all 0.3s ease-in;
    }
    
    &:hover {
      background-color: var(--c-black-99);

      & h2 {
        color: var(--c-primary-hover);
      }
    }
  }
  @media (width < 769px) {
    a {
      flex-direction: column;
      align-items: flex-start;
      padding-inline: 0;
    }
  }
  p {
    max-width: 600px;
  }

  .gallery {
    display: grid;
    gap: var(--gutter-l);
    margin: var(--gutter-l) auto;

      & img, & :global(picture) {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
  }
  @media (width >= 768px) {
    .gallery {
      grid-template-columns: 3fr 1fr;

      & div {
        display: flex;
        align-items: center;
        height: 400px;
      }
    }
  }
  
</style>