---
import img2 from "../assets/img/body/INV2-217_065.jpg"
import img3 from "../assets/img/body/INV2-217_051.jpg"
import Arrow from "./snippets/Arrow.astro";

interface Props {
  menuUrl?: string;
}
const { menuUrl = "https://invitaly.cz/files/menu_vezenska.pdf" } = Astro.props;
---

<section class="container" id="menu">
  <a href={menuUrl} target="_blank">
    <div>
      <h2>Our Menu</h2>
      <p>Sit tempora minus asperiores blanditiis autem non beatae incidunt, est nobis aperiam neque alias, esse earum eaque consectetur corrupti numquam odit officia.</p>
    </div>
    <Arrow />
  </a>
  <div class="gallery">
    <div class="zoom observe">
      <img src={img2} alt="" width="1100" height="400">
      <!-- <img src="https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&h=400&q=80" alt=""> -->
    </div>
    <div class="zoom observe">
      <img src={img3} alt="" width="300" height="400">
    </div>
  </div>
</section>

<style>

  a {
    border-block: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter-l);
    padding: var(--gutter-l);

    & h2 {
      transition: all 0.3s ease-in;
    }
    
    &:hover {
      background-color: var(--c-black-99);

      & h2 {
        color: var(--c-primary-hover);
      }
    }
  }
  @media (width < 769px) {
    a {
      flex-direction: column;
      align-items: flex-start;
      padding-inline: 0;
    }
  }
  p {
    max-width: 600px;
  }

  .gallery {
    display: flex;
    gap: var(--gutter-l);
    margin: var(--gutter-l) auto;

    & > div {
      /* flex: 33%; */

      & img {
        object-fit: cover;
      }
    }
  }
  
</style>