---
import { t } from "i18next";

import img2 from "@assets/img/body/INV2-217_065.jpg"
import img3 from "@assets/img/body/INV2-217_051.jpg"
import Arrow from "./snippets/Arrow.astro";
import DailyMenu from "./DailyMenu.astro";

interface Props {
  menuUrl?: string;
}
const { menuUrl = "https://invitaly.cz/files/menu_enotrattoria.pdf" } = Astro.props;
---

<section class="container" id="menu">
  <a href={menuUrl} target="_blank" id="menuDownload">
    <div>
      <h2>{t("menu.header")}</h2>
      <p>{t("menu.p")}</p>
    </div>
    <Arrow buttonText={t("menu.buttonText")} />
  </a>
  <div class="gallery">
    <div class="zoom observe">
      <img src={img2} alt="" width="1100" height="400">
    </div>
    <div class="zoom observe">
      <img src={img3} alt="" width="300" height="400">
    </div>
  </div>
</section>
<DailyMenu />

<style>

  a {
    border-block: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter-l);
    padding: var(--gutter-l);

    & h2 {
      transition: all 0.3s ease-in;
    }
    
    &:hover {
      background-color: var(--c-black-99);

      & h2 {
        color: var(--c-primary-hover);
      }
    }
  }
  @media (width < 769px) {
    a {
      flex-direction: column;
      align-items: flex-start;
      padding-inline: 0;
    }
  }
  p {
    max-width: 600px;
  }

  .gallery {
    display: flex;
    gap: var(--gutter-l);
    margin: var(--gutter-l) auto;

    & > div {
      /* flex: 33%; */

      & img {
        object-fit: cover;
      }
    }
  }
  
</style>