---
import { t } from "i18next";
import { Picture } from '@astrojs/image/components';
import imgReview from "@assets/img/body/INV2-217_021.jpg"
---

<section>
    <figure class="header container">
      <h2 class="fadeUp observe">{t("review.header")}</h2>
      <q>{t("review.q")}</q>
      <figcaption>{t("review.caption")}</figcaption>
    </figure>
  <div class="toLeft observe">
    <Picture src={imgReview} widths={[400, 800, 1500]} sizes="(max-width: 768px) 100vw, 1500px" alt="Invitaly Enotrattoria" />
  </div>
</section>

<style>
  section {
    padding-bottom: 0;
  }
  .header {
    text-align: center;
    max-width: 50rem;
    margin: 0 auto var(--gutter-l) auto;

    & figcaption {
      font-size: 1rem;
    }
  }
  
  @media (width < 769px) {
    h1 {
      /* margin: 0 auto var(--gutter); */
    }
  }
  @media (width < 1025px) {
    img {
      max-height: 70vh;
    }
  }

  </style>

  <!-- <script src="src/assets/js/loco.js" type="module"/> -->