---
import i18next, { t, changeLanguage } from "i18next";
---
<section class="showcase grid container">
  <img src="https://picsum.photos/seed/picsum/1300/600?grayscale" alt="Invitaly EnoTrattoria">
  <div class="header">
    <h1>{t("showcase.h1")}</h1>
    <p>{t("showcase.p")}</p>
  </div>
</section>

<style>
@media (width >= 768px) {
  .showcase {
    padding-block: var(--gutter);

    & img {
      grid-column: span 12;
    }
    & .header {
      grid-column: 7 / 13;
      background-color: white;
      border: 1px solid salmon;
      margin: -6rem 3rem 0 0;
      padding: var(--gutter);
    }
  }
}
</style>