---
import { t } from "i18next";

import iconInstagram from '../../assets/img/icon/instagram.svg';
import Logo from "./Logo.astro";

const { pathname } = Astro.url;

interface Props {
  instagram?: boolean;
}
const { instagram = false } = Astro.props;
---
<section>
  <a href={pathname}>
    <Logo />
  </a>
  <h3 class="small">Invitaly EnoTrattoria</h3>
  <address>
    <ul>
      <li>Vězeňská 4, 110 00 Praha, Czechia<br>
      (<a href="https://goo.gl/maps/QFHo98UqRi7Puspj6" target="_blank" id="mapClick"> {t("footer.openMap")} 📍</a>)
      </li>
      <li>
        <a href="tel:+420222313185" target="_blank" id="callClick">+420 222 313 185</a>
      </li>
      <li>
        <a href="mailto:enotrattoria@invitaly.cz" target="_blank" id="emailClick">enotrattoria@invitaly.cz</a>
      </li>
    </ul>
    { instagram && <a href="https://www.instagram.com/invitaly_enotrattoria/" target="_blank" class="social-link" id="instagramClick">
      <img src={iconInstagram} alt="Invitaly instagram" width="28" height="28">
    </a> }
  </address>
</section>

<style>

  section {
    display: flex;
    flex-direction: column;
  }
  h3, .social-link {
    margin-top: var(--gutter);
  }
  :global(.social-link) {
    display: flex;
    gap: 1rem;
    line-height: 1.5;
  }
</style>