---
import { t } from "i18next";
import logo from '../../assets/img/branding/invitaly_logo--small.svg'
import iconInstagram from '../../assets/img/icon/instagram--color.svg';
import Logo from "./Logo.astro";

interface Props {
  instagram?: boolean;
}
const { instagram = false } = Astro.props;
---
<section>
  <h3 class="small">Invitaly EnoTrattoria</h3>
  <Logo />
  <address>
    <ul>
      <li>Vězeňská 4, 110 00 Praha, Czechia<br>
      (<a href="https://goo.gl/maps/QFHo98UqRi7Puspj6" target="_blank"> {t("footer.openMap")} 📍</a>)
      </li>
      <li>
        <a href="tel:+420222313185" target="_blank">+420 222 313 185</a>
      </li>
      <li>
        <a href="mailto:enotrattoria@invitaly.cz" target="_blank">enotrattoria@invitaly.cz</a>
      </li>
    </ul>
    { instagram && <a href="https://www.instagram.com/invitaly_enotrattoria/" target="_blank" class="social-link">
      <img src={iconInstagram} alt="Invitaly instagram" width="28" height="28"> {t("footer.instaCaption")}
    </a> }
  </address>
</section>

<style>

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  :global(.social-link) {
    display: flex;
    gap: 1rem;
    margin-top: var(--gutter);
    line-height: 1.5;
  }
</style>