---
import { t } from "i18next";
---
<ul role="menu">
  <li><a href="#about">{t("header.about")}</a></li>
  <li><a href="#menu">{t("header.menu")}</a></li>
  <li><a href="#contact">{t("header.contact")}</a></li>
</ul>

<style>
  nav.desktop-menu ul[role="menu"] {
    display: flex;
    gap: var(--gutter);
  }
</style>