---
import { t } from "i18next";
import { Image } from '@astrojs/image/components';
import Arrow from "./Arrow.astro";
const pizzeriaPhoto = 'https://pizza.invitaly.cz/assets/img/food/140422/21-03Invitaly_10.jpg'
---

<section class="pizzeria">
  <h3 class="small">Invitaly Piazzetta</h3>
  <p>{t("pizzeria.p")}</p>
  <a href={t("pizzeria.url")} data-event="pizzeriaClick" target="_blank">
    <Arrow small buttonText={t("pizzeria.buttonText")} />
    <div class="zoom observe">
      <Image src={pizzeriaPhoto} width={400} height={600} format="avif" alt="Invitaly Pizza" />
    </div>
  </a>
</section>

<style>
  
  .pizzeria {
    display: flex;
    flex-direction: column;

    & .zoom {
      display: flex;
      align-items: center;
      max-height: 15rem;

      & img {
        height: auto;
      }
    }
  }

</style>