---
import { t } from "i18next";

import Arrow from "./Arrow.astro";
const pizzeriaPhoto = 'https://pizza.invitaly.cz/assets/img/food/140422/21-03Invitaly_10.jpg'
---

<section class="pizzeria">
  <h3 class="small">Invitaly Piazzetta</h3>
  <p>{t("pizzeria.p")}</p>
  <a href={t("pizzeria.url")} id="pizzeriaClick">
    <Arrow small buttonText={t("pizzeria.buttonText")} />
    <div class="zoom observe">
      <img src={pizzeriaPhoto} alt="Invitaly Pizza" width="200">
    </div>
  </a>
</section>

<style>
  
  .pizzeria {
    display: flex;
    flex-direction: column;

    & .zoom {
      display: grid;
      place-content: center;
      max-height: 15rem;

      & img {
        width: auto;
      }
    }
  }

</style>