---
import { t } from "i18next";
import Arrow from "./Arrow.astro";

interface Props {
  mobile?: boolean;
}
const { mobile = false } = Astro.props;
---

<ul role="menu" class:list={ {mobile} }>
  <li><a href="#about">{t("header.about")}{ mobile && <Arrow small /> }</a></li>
  <li><a href="#menu">{t("header.menu")}{ mobile && <Arrow small /> }</a></li>
  <li><a href="#footer">{t("header.contact")}{ mobile && <Arrow small /> }</a></li>
</ul>

<style>
  
  ul:not(.mobile) {
    display: flex;
    gap: var(--gutter);
  }

  @media (width < 769px) {

    ul.mobile {
      margin-top: 3rem;
    }
  }

  @media (width >= 768px) {

    ul.mobile li {
      padding-inline: 1rem;
      
      &:hover {
        background-color: var(--c-primary-light);
      }
    }
  }

  ul:not(.mobile) a {
    text-transform: uppercase;
    font-weight: 600;
  }
  ul.mobile a {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 4vw, 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

</style>