---
import { t } from "i18next";

interface Props {
  mobile?: boolean;
}
const { mobile = false } = Astro.props;
---

<ul role="menu" class:list={ {mobile} }>
  <li><a href="#about">{t("header.about")}</a></li>
  <li><a href="#menu">{t("header.menu")}</a></li>
  <li><a href="#footer">{t("header.contact")}</a></li>
</ul>

<style is:global>
  nav.desktop-menu ul[role="menu"] {
    display: flex;
    gap: var(--gutter);
  }
</style>
<style>
  ul:not(.mobile) a {
    text-transform: uppercase;
    font-weight: 600;
  }
  ul.mobile a {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 4vw, 3rem);
  }

</style>