---
import { t } from "i18next";
import { Image } from '@astrojs/image/components';
import Arrow from "./Arrow.astro";

import imgNav1 from "@assets/img/body/INV2-217_006.jpg"
import imgNav2 from "@assets/img/body/INV2-217_004.jpg"
import imgNav3 from "@assets/img/body/INV2-217_054.jpg"
import imgNav4 from "@assets/img/body/INV2-217_053.jpg"

interface Props {
  mobile?: boolean;
  fadeUpMenu?: boolean;
}
const { mobile = false, fadeUpMenu = false, observe = false } = Astro.props;
---

<ul class:list={ {mobile, fadeUpMenu} }>
  <li>
    <a href="#about">{t("header.about")}{ mobile && <Arrow small /> }</a>
    { mobile && <Image src={imgNav1} width={400} alt="" /> }
  </li>
  <li>
    <a href="#menu">{t("header.menu")}{ mobile && <Arrow small /> }</a>
    { mobile && <Image src={imgNav2} width={400} alt="" /> }
  </li>
  <li>
    <a href="#daily-menu">{t("header.dailyMenu")}{ mobile && <Arrow small /> }</a>
    { mobile && <Image src={imgNav3} width={400} alt="" /> }
  </li>
  <li>
    <a href="#footer">{t("header.contact")}{ mobile && <Arrow small /> }</a>
    { mobile && <Image src={imgNav4} width={400} alt="" /> }
  </li>
</ul>

<style>
  
  ul:not(.mobile) {
    display: flex;
    gap: var(--gutter);
  }
  ul.mobile {
    position: relative;
  }

  @media (width < 1500px) {

    ul.mobile {
      margin-block: var(--gutter);

      & img {
        display: none;
      }
    }
  }

  @media (width >= 768px) {

    ul.mobile li {
      display: grid;
      grid-template-columns: 2fr 1fr;

      & a {
        padding-inline: 1rem;
      }

      & img {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
        width: min(400px, 22vw);
        height: auto;
      }

      &:first-child img,
      & a:hover + img {
        opacity: 1;
      }
    }
  }

  ul:not(.mobile) a {
    text-transform: uppercase;
    font-weight: 600;
  }
  ul.mobile a {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 4vw, 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: var(--c-primary-light);
    }
  }

</style>